/* Remove padding and margin from all elements */
* {
    margin: 0;
    padding: 0;
}

/* Add font style to all elements */
.pageContainer,
button {
    font-family: URW Chancery L, cursive;
}

/* Create a column out of the page sections */
.pageContainer {
    display: flex;
    flex-direction: column;
    max-width: 1920px;
}

header {
    background-color: aquamarine;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.buttonDiv {
    display: flex;
    justify-content: center;
}

footer {
    background-color: aquamarine;
    height: 100px;
}

.cardContainer {
    /* Create grid for new card entries*/
    /*display: grid;
    grid-template-columns: repeat(auto-fit, 200px);
    grid-auto-columns:200px;
    grid-auto-rows: 250px;
    grid-auto-flow: column;*/
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;

    min-height: calc(100vh - 200px);
}

.cardDiv{
    border: 3px solid black;
    border-radius: 15px;
    position: relative;

    height: 250px;
    width: 200px;
}

/* Removes "read: value" from display*/
.read {
    position: absolute;
   display: none;
}

/* Hide pop up form*/
#popupForm {
    display: none;
    position: fixed;
    left: 45%;
    top: 5%;
    transform: translate(-50%, 5%);
    border: 3px solid #999999;
    z-index: 9;
}

form {
    max-width: 450px;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider {
    border-radius: 34px;
  }
  
  .slider:before {
    border-radius: 50%;
  }

  /* Hides and unhides the words "Read" and "Unread"*/
.paraDiv {
    position: relative;
}

.readPara {
    position: absolute;
    display: none;
}

.unreadPara {
    position: absolute;
    display: none;
}